/* Parallax effect */
@media (min-width: 350px){
  .parallax {position: absolute; left: 0; right: 0; bottom: 0;}
  #header {left: -10px; top: 3rem; transform: translateZ(-200px) scale(2); z-index: 3;}
  #wrapper {transform: translateZ(0); z-index: 4;}
}
#wrapper {top: 15vh;}
@media screen and (min-aspect-ratio: 1/1){#wrapper {top: 40vh;}}
body, html {overflow: hidden auto;}

/* Prevent breaking within spans. */
span {display: inline-block;} 

/* Other effects */
* {font-family: 'Lato', sans-serif;}
h1 {color: rgb(34,110,147); margin-bottom: .5rem;}
.row {margin: 1rem 0;}
blockquote {color: rgb(34,110,147);}
footer img {max-width:40px!important; margin-left: auto; margin-right: auto; display:block;}